body {
  text-align: center;
  color: #dbedf3;
  background-color: #283149;
  font-family: "Arvo", cursive;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  max-width: 700px;
}

h1 {
  font-size: clamp(1.3rem, 4vw, 4rem);
  margin: 0;
  text-shadow: 3px 0 #da0463;
  padding-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.drum {
  outline: none;
  border: 6px solid #404b69;
  font-size: clamp(1.2rem, 4vw, 4rem);
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  aspect-ratio: 1 / 1;
  width: 200px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  .drum {
    width: 17vw;
  }
}

@media screen and (max-width: 600px) {
  .drum {
    border: 3px solid #404b69;
    width: 20vw;
    max-width: 120px;
    margin: 2px;
  }
  @media screen and (max-height: 400px) {
    body {
      justify-content: flex-start;
    }
    .h1 {
      padding: 10px;
    }
  }
}

/* Drum images */
.w {
  background: url(images/kick.png);
  background-size: cover;
}
.a {
  background: url(images/snare.png);
  background-size: cover;
}
.s {
  background: url(images/tom1.png);
  background-size: cover;
}
.d {
  background: url(images/tom2.png);
  background-size: cover;
}
.j {
  background: url(images/tom3.png);
  background-size: cover;
}
.k {
  background: url(images/tom4.png);
  background-size: cover;
}
.l {
  background: url(images/crash.png);
  background-size: cover;
}
.r {
  background: url(images/rick.png);
  background-size: cover;
  transition: background-image 0.3s ease-in-out;
}

.r.rick-gif {
  background: url(images/rick.gif);
  background-size: cover;
}

.pressed {
  box-shadow: 0 3px 4px 0 #3b91ad;
  opacity: 0.7;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

a {
  color: #dbedf3;
  text-decoration: none;
}

a:hover {
  text-shadow: 1px 0 #da0463;
}
